.Banner 
 { 
   text-align: center;
   background-color: skyblue;
   height: 100px;
   width: 100%;
}




.Navbar
 {
   height: 1000px;
   width: 100%;
   background-color: skyblue;
   display: flex;
}

ul{  
  margin-left:400px;
  margin-top: -15px;
}

li{
   float:left;
   margin:20px;
   color:black;
   display:inline;
}

li a{
  text-decoration:none;
}




.1st
 { 
  height: 100px;
  width: 100%;
  padding-top: 30px;
  color: black;
  
 }
 
.1st a
 {
 text-decoration= none;
} 
p
 {
  font-family= verdana;
  font-size= 20px;
}







img
 {
 padding-top: 20px;
 width: 1300px;
 height: 750px;

}

p
 {
 font-size: 19px;
 font-family: serik;
}

footer
 {
  font-family: serif;
  font-size: 14px;
  background-color: grey;
  text-align: center;
}
